.page-wrapper {
    display       : flex;
    flex-direction: column;
}

.content {
    flex           : 1;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    padding        : 2rem;
    gap            : 2rem;
    flex-direction : row-reverse;
}

.login-container {
    flex               : 1;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    padding            : 2rem;
    background-image   : url("../image/background.png");
    background-size    : cover;
    background-position: center;
}

.login-form {
    text-align   : center;
    background   : #fff;
    padding      : 3rem;
    border-radius: 10px;
    box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
    width        : 100%;
    max-width    : 500px;
    margin-right : 1000px;
}

.headerform {
    background-color       : #ffc2d1;
    color                  : #fff;
    padding                : 1.5rem;
    margin                 : -3rem -3rem 2rem -3rem;
    border-top-left-radius : 10px;
    border-top-right-radius: 10px;
}

.headerform a {
    color          : #070202;
    text-decoration: none;
    font-size      : 2.5rem;
}

h2 {
    margin   : 0 0 1.5rem;
    font-size: 2rem;
    color    : #b94360;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align   : left;
}

.input-group label {
    display      : block;
    margin-bottom: 0.75rem;
    font-weight  : bold;
    font-size    : 1.2rem;
}

.input-group input {
    width        : 100%;
    padding      : 1.25rem;
    border       : 2px solid #ccc;
    border-radius: 30px;
    font-size    : 1.2rem;
    box-sizing   : border-box;
}

.btn {
    background-color: #fff;
    color           : #070505;
    padding         : 1.25rem 3rem;
    border          : 2px solid;
    border-radius   : 30px;
    font-size       : 1.2rem;
    cursor          : pointer;
    width           : 100%;
    margin-top      : 2rem;
}

.btn:hover {
    background-color: #ffc2d1;
}

.register-link {
    margin-top: 1.5rem;
}

.image-section {
    flex           : 1;
    max-width      : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.image-section img {
    max-width: 100%;
    height   : auto;
}